<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta name="base_url" content="<%= base_url() %>">
  <title><%- title %></title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/svg/logo.svg" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/style.css">

  <% if (typeof css != "undefined" && css) { %>
    <%- css %>
  <% } %>

  <% if (typeof script != "undefined" && script) { %>
    <%- script %>
  <% } %>

</head>

<body>
<div class="layer"></div>
<!-- ! Body -->

<div class="page-flex">
  <!-- ! Sidebar -->
  <% if(typeof sidenav !== 'undefined' && sidenav) { %>
    <%- include('sidenav.ejs') %>
  <% } %>

  <div class="main-wrapper">
    
    <!-- Alert/Waring or Message Progress Bar -->
    <div class="progress-container">
      <div class="bg-progress"></div>
      <div class="inner-container">
          <div id="responseStatus">Loading...</div>
          <div class="percent-container">
              <span class="percentage" id="progressPercent">0</span>%
          </div>
          <div class="progress-bar"></div>
      </div>
    </div>
    <!-- Alert/Waring or Message Progress Bar -->

    <!-- ! Main nav -->
    <% if(typeof header !== 'undefined' && header) { %>
        <%- include('header.ejs') %>
    <% } %>
    <!-- ! Main -->
    <div><%- body %></div>
    <!-- ! Footer -->
   <%- include('footer.ejs') %>
  </div>
</div>
<!-- library -->
<script src="/plugins/feather.min.js"></script>

<% if(typeof MainScriptShow === 'undefined') { %>
<script src="/js/script.js"></script>
<% } %>

</body>
</html>