<aside class="sidebar hidden">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="<%= base_url('dashboard') %>" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-subtitle">connectMe</span>
                </div>
            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a title="Dashboard" class="link-page" currentActivePage="/dashboard" href="<%= base_url('dashboard') %>"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                </li>
                <li>
                    <a title="Coaching Center" class="show-cat-btn link-page" currentActivePage="/centers" href="##">
                        <span class="icon courses" aria-hidden="true"></span>Coaching Center
                        <span class="category__btn transparent-btn" title="Dropdown">
                            <span class="sr-only"></span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                      <li>
                          <a title="All Coaching Centers" href="<%= base_url('centers') %>" class="sub-menu"><span class="icon active-icon" aria-hidden="true"></span>Centers
                            <span class="category__btn transparent-btn" title="Dropdown">
                              <span class="sr-only"></span>
                          </span>
                          </a>
                      </li>
                      <li>
                          <a title="Add Centers" href="<%= base_url('centers/add') %>" class="sub-menu"><span class="icon add-icon" aria-hidden="true"></span>Add
                            <span class="category__btn transparent-btn" title="Dropdown">
                              <span class="sr-only"></span>
                          </span>
                          </a>
                      </li>
                    </ul>
                </li>
            <li>
              <a title="Courses" class="show-cat-btn link-page" currentActivePage="/courses" href="##">
                  <span class="icon courses" aria-hidden="true"></span>Courses
                  <span class="category__btn transparent-btn" title="Dropdown">
                      <span class="sr-only"></span>
                      <span class="icon arrow-down" aria-hidden="true"></span>
                  </span>
              </a>
              <ul class="cat-sub-menu">
                <li>
                    <a title="All Courses" href="<%= base_url('courses') %>" class="sub-menu"><span class="icon active-icon" aria-hidden="true"></span>Courses
                      <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                    </span>
                    </a>
                </li>
                <li>
                    <a title="Add Courses" href="<%= base_url('courses/add') %>" class="sub-menu"><span class="icon add-icon" aria-hidden="true"></span>Add
                      <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                    </span>
                    </a>
                </li>
                  <li>
                      <a title="Active Courses" href="<%= base_url('courses/active') %>" class="sub-menu"><span class="icon active-icon" aria-hidden="true"></span>Active
                        <span class="category__btn transparent-btn" title="Dropdown">
                          <span class="sr-only"></span>
                      </span>
                      </a>
                  </li>
                  <li>
                    <a title="Recommended Courses" href="<%= base_url('courses/recommended') %>" class="sub-menu"><span class="icon recommended" aria-hidden="true"></span>Recommended
                      <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                    </span>
                    </a>
                  </li>
              </ul>
          </li>
          <li>
            <a title="Students" class="show-cat-btn link-page" currentActivePage="/teachers" href="##">
                <span class="icon teachers aria-hidden="true"></span>Teachers
                <span class="category__btn transparent-btn" title="Dropdown">
                    <span class="sr-only"></span>
                    <span class="icon arrow-down" aria-hidden="true"></span>
                </span>
            </a>
            <ul class="cat-sub-menu">
                <li>
                    <a title="Student List" href="<%= base_url('teachers') %>" class="sub-menu"><span class="icon list-icon" aria-hidden="true"></span>Teachers
                      <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                    </span>
                    </a>
                </li>
                <li>
                  <a title="Student List" href="<%= base_url('teachers/add') %>" class="sub-menu"><span class="icon add-icon" aria-hidden="true"></span>Add Teacher
                    <span class="category__btn transparent-btn" title="Dropdown">
                      <span class="sr-only"></span>
                  </span>
                  </a>
                </li>
            </ul>
        </li>
        <li>
            <a title="Classes" class="show-cat-btn link-page" currentActivePage="/classes" href="##">
                <span class="icon classes" aria-hidden="true"></span>Classes
                <span class="category__btn transparent-btn" title="Dropdown">
                    <span class="sr-only"></span>
                    <span class="icon arrow-down" aria-hidden="true"></span>
                </span>
            </a>
            <ul class="cat-sub-menu">
                <li>
                    <a title="Classes List" href="<%= base_url('classes') %>" class="sub-menu"><span class="icon list-icon" aria-hidden="true"></span>Classes
                      <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                    </span>
                    </a>
                </li>
                <li>
                    <a title="Add Classes" href="<%= base_url('classes/add') %>" class="sub-menu"><span class="icon add-icon" aria-hidden="true"></span>Add
                      <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                    </span>
                    </a>
                </li>
                <li>
                  <a title="Upcomming Classes" href="<%= base_url('classes/upcomming') %>" class="sub-menu"><span class="icon list-icon" aria-hidden="true"></span>Upcomming
                    <span class="category__btn transparent-btn" title="Dropdown">
                      <span class="sr-only"></span>
                  </span>
                  </a>
                </li>
            </ul>
        </li>
      <li>
        <a title="Syllabus" class="link-page" currentActivePage="/" href="<%= base_url('syllabus') %>">
            <span class="icon syllabus" aria-hidden="true"></span>
            Syllabus
        </a>
    </li>
            <li>
                <a title="Students" class="show-cat-btn link-page" currentActivePage="/students" href="##">
                    <span class="icon students aria-hidden="true"></span>Students
                    <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                        <span class="icon arrow-down" aria-hidden="true"></span>
                    </span>
                </a>
                <ul class="cat-sub-menu">
                    <li>
                        <a title="Student List" href="<%= base_url('students') %>" class="sub-menu"><span class="icon list-icon" aria-hidden="true"></span>Students
                            <span class="category__btn transparent-btn" title="Dropdown">
                            <span class="sr-only"></span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a title="Student List" href="<%= base_url('students/add') %>" class="sub-menu"><span class="icon add-icon" aria-hidden="true"></span>Add Student
                        <span class="category__btn transparent-btn" title="Dropdown">
                            <span class="sr-only"></span>
                        </span>
                        </a>
                    </li>
                </ul>
            </li>
                <li>
                  <a title="Notes" class="show-cat-btn link-page" currentActivePage="/notes" href="##">
                      <span class="icon document" aria-hidden="true"></span>Notes
                      <span class="category__btn transparent-btn" title="Dropdown">
                          <span class="sr-only"></span>
                          <span class="icon arrow-down" aria-hidden="true"></span>
                      </span>
                  </a>
                  <ul class="cat-sub-menu">
                      <li>
                          <a title="Add Notes" href="<%= base_url('notes') %>" class="sub-menu"><span class="icon list-icon" aria-hidden="true"></span>Notes
                            <span class="category__btn transparent-btn" title="Dropdown">
                              <span class="sr-only"></span>
                          </span>
                          </a>
                      </li>
                      <li>
                        <a title="Notes List" href="<%= base_url('notes/add') %>" class="sub-menu"><span class="icon add-icon aria-hidden="true"></span>Add
                          <span class="category__btn transparent-btn" title="Dropdown">
                            <span class="sr-only"></span>
                        </span>
                        </a>
                      </li>
                  </ul>
              </li>
              <li>
                <a title="Leaves" class="show-cat-btn link-page" currentActivePage="/schedule-leave" href="##">
                    <span class="icon leaves" aria-hidden="true"></span>Leaves
                    <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                        <span class="icon arrow-down" aria-hidden="true"></span>
                    </span>
                </a>
                <ul class="cat-sub-menu">
                    <li>
                        <a title="Schedule Leave" href="<%= base_url('schedule-leave') %>" class="sub-menu"><span class="icon list-icon" aria-hidden="true"></span>Schedule leave
                          <span class="category__btn transparent-btn" title="Dropdown">
                            <span class="sr-only"></span>
                        </span>
                        </a>
                    </li>
                    <li>
                      <a title="All Leaves" href="<%= base_url('schedule-leave/add') %>" class="sub-menu"><span class="icon add-icon aria-hidden="true"></span>Add
                        <span class="category__btn transparent-btn" title="Dropdown">
                          <span class="sr-only"></span>
                      </span>
                      </a>
                    </li>
                </ul>
            </li>
            <li>
              <a title="Appointments" class="show-cat-btn link-page" currentActivePage="/schedule-appointments" href="##">
                  <span class="icon appointments" aria-hidden="true"></span>Appointments
                  <span class="category__btn transparent-btn" title="Dropdown">
                      <span class="sr-only"></span>
                      <span class="icon arrow-down" aria-hidden="true"></span>
                  </span>
              </a>
              <ul class="cat-sub-menu">
                  <li>
                      <a title="Appointments" href="<%= base_url('schedule-appointments') %>" class="sub-menu"><span class="icon schedule" aria-hidden="true"></span>Appointments
                        <span class="category__btn transparent-btn" title="Dropdown">
                          <span class="sr-only"></span>
                      </span>
                      </a>
                  </li>
                  <li>
                    <a title="All Appointments" href="<%= base_url('schedule-appointments/add') %>" class="sub-menu"><span class="icon add-icon aria-hidden="true"></span>Add
                      <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only"></span>
                    </span>
                    </a>
                  </li>
              </ul>
          </li>
                <li>
                    <a href="<%= base_url('manage-account') %>" class="link-page" currentActivePage="/">
                        <span class="icon accounts" aria-hidden="true"></span>
                        Accounts
                    </a>
                </li>
            </ul>
            <span class="system-menu__title">Alerts and Settings</span>
            <ul class="sidebar-body-menu">
              <li>
                <a title="Notifications" class="show-cat-btn link-page" currentActivePage="/" href="##">
                    <span class="icon notification" aria-hidden="true"></span>Notifications
                    <span class="category__btn transparent-btn" title="Dropdown">
                        <span class="sr-only active"></span>
                        <span class="icon arrow-down" aria-hidden="true"></span>
                    </span>
                </a>
                <ul class="cat-sub-menu">
                    <li>
                        <a title="Send Notifications" href="<%= base_url('send-notifications') %>" class="sub-menu"><span class="icon send" aria-hidden="true"></span>Send
                          <span class="category__btn transparent-btn" title="Dropdown">
                            <span class="sr-only"></span>
                        </span>
                        </a>
                    </li>
                    <li>
                      <a title="Received Notifications" href="<%= base_url('received-notifications') %>" class="sub-menu"><span class="icon received aria-hidden="true"></span>Received
                        <span class="category__btn transparent-btn" title="Dropdown">
                          <span class="sr-only"></span>
                      </span>
                      <span class="msg-counter">5</span>
                      </a>
                    </li>
                </ul>
            </li>
                <li>
                    <a href="##" class="link-page" currentActivePage="/"><span class="icon setting" aria-hidden="true"></span>Settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
        <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
                <picture><source srcset="/img/avatar/avatar-illustrated-01.webp" type="image/webp"><img src="/img/avatar/avatar-illustrated-01.png" alt="User name"></picture>
            </span>
            <div class="sidebar-user-info">
                <span class="sidebar-user__title">Dipesh K.</span>
                <span class="sidebar-user__subtitle">Students</span>
            </div>
        </a>
    </div>
</aside>